/*ROOTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

/*MIXINS*/
/*BODY*/
body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

/*HEADER*/
header {
  width: 100%;
  height: 75vh;
  background-color: rgba(19, 144, 246, 0.465);
  position: relative;
}

/*NAVEGACION*/
#navBarPrincipal {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  background: rgba(19, 144, 246, 0.4);
}

#navBarPrincipal .contenedor-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  height: 100%;
  position: relative;
  top: 0;
}

#navBarPrincipal .contenedor-nav .logo {
  width: 60%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navBarPrincipal .contenedor-nav .logo img {
  width: 45px;
  height: 45px;
}

#navBarPrincipal .contenedor-nav .toolbar {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  margin: 0;
}

#navBarPrincipal .contenedor-nav .toolbar a {
  color: white;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  text-decoration: none;
}

#navBarPrincipal .contenedor-nav .toolbar a :link, #navBarPrincipal .contenedor-nav .toolbar a :active {
  color: white;
  text-decoration: none;
}

#navBarPrincipal .contenedor-nav .toolbar #menu-desp::after {
  content: "";
  padding-left: 30px;
  background: url("../assets/icon/icon-desplegable.svg");
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#navBarPrincipal .contenedor-nav .toolbar #menu-desp {
  position: relative;
  top: 19px;
  height: 100%;
}

#navBarPrincipal .contenedor-nav .toolbar li:hover li::after {
  width: 100%;
}

#navBarPrincipal .contenedor-nav .toolbar li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#navBarPrincipal .contenedor-nav .toolbar span:hover::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.2rem;
  -webkit-transition: width 5s linear;
  transition: width 5s linear;
  background: white;
}

/*---- MENU DESPLEGABLE ----*/
.desplegable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 125px;
  height: 130px;
  padding: 5px 10px 10px;
  position: absolute;
  top: 30px;
  left: 10px;
  background: rgba(19, 144, 246, 0.465);
  color: white;
  border-radius: 10px;
  list-style: none;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-animation: animacionMenu 0.5s linear alternate;
          animation: animacionMenu 0.5s linear alternate;
  cursor: pointer;
}

@-webkit-keyframes animacionMenu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animacionMenu {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

/*SLIDER*/
#slider {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
}

#slider #slide_1, #slider #slide_2, #slider #slide_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

#slider #slide_1 .pantalla, #slider #slide_2 .pantalla, #slider #slide_3 .pantalla {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  background: rgba(39, 39, 39, 0.664);
}

#slider #slide_1 h1, #slider #slide_2 h1, #slider #slide_3 h1 {
  font-weight: 900;
  margin-bottom: 20px;
}

#slider #slide_1 h4, #slider #slide_2 h4, #slider #slide_3 h4 {
  font-weight: 100;
  margin-bottom: 30px;
}

#slider #slide_1 .btn_buy, #slider #slide_2 .btn_buy, #slider #slide_3 .btn_buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32%;
  background: transparent;
}

#slider #slide_1 .btn_buy button:first-of-type, #slider #slide_1 .btn_buy button:last-of-type, #slider #slide_2 .btn_buy button:first-of-type, #slider #slide_2 .btn_buy button:last-of-type, #slider #slide_3 .btn_buy button:first-of-type, #slider #slide_3 .btn_buy button:last-of-type {
  width: 275px;
  height: 50px;
  color: white;
  background: #0062A2;
  border-radius: 5px;
  outline: none;
  border: none;
  font-weight: 900;
  font-size: 20px;
  text-transform: uppercase;
}

#slider #slide_1 .btn_buy button:first-of-type:hover, #slider #slide_1 .btn_buy button:hover:last-of-type, #slider #slide_2 .btn_buy button:first-of-type:hover, #slider #slide_2 .btn_buy button:hover:last-of-type, #slider #slide_3 .btn_buy button:first-of-type:hover, #slider #slide_3 .btn_buy button:hover:last-of-type {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

#slider #slide_1 .btn_buy button:last-of-type, #slider #slide_2 .btn_buy button:last-of-type, #slider #slide_3 .btn_buy button:last-of-type {
  width: 275px;
  height: 50px;
  color: #0062A2;
  background: white;
  border-radius: 5px;
  outline: none;
  border: none;
}

#slider #slide_1 .btn_buy button:last-of-type:hover, #slider #slide_2 .btn_buy button:last-of-type:hover, #slider #slide_3 .btn_buy button:last-of-type:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
}

#slider #btn-prev, #slider #btn-next {
  width: 35px;
  height: 35px;
  position: absolute;
  top: 335px;
  background-color: transparent;
  outline: none;
  border: none;
}

#slider #btn-prev {
  background-image: url(/assets/icon/icon-prev.svg);
  left: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
}

#slider #btn-prev:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

#slider #btn-next {
  right: 40px;
  background-image: url(/assets/icon/icon-next.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: local;
  background-position: center;
}

#slider #btn-next:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  transition: -webkit-transform 0.1s ease-out;
  transition: transform 0.1s ease-out;
  transition: transform 0.1s ease-out, -webkit-transform 0.1s ease-out;
}

#slide_1 {
  background: url(/assets/img/slide1.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center center;
}

#slide_2 {
  background: url(/assets/img/slide2.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center center;
}

#slide_3 {
  background: url(/assets/img/slide3.jpg);
  height: 100%;
  width: 100%;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  background-position: center center;
}
/*# sourceMappingURL=main.css.map */